In [28]:
# from google.colab import drive
# drive.mount('/content/drive/')

### Importation module

In [29]:
import numpy as np
%matplotlib inline
import pandas as pd
import seaborn as sns
import calendar
import matplotlib.pyplot as plt

### Connection with Colab / VSC

In [30]:
# colab
# quotes = pd.read_csv("/content/drive/MyDrive/Opply/Opply/d5d9348e5c87368cc1b74e6d4dde9794/Quotes.csv")
# request = pd.read_csv('/content/drive/MyDrive/Opply/Opply/d5d9348e5c87368cc1b74e6d4dde9794/Requests.csv')

# vsc

quotes = pd.read_csv("Quotes.csv")
request = pd.read_csv("Requests.csv")

# Exploration

In [31]:
print(request.shape)
print(quotes.shape)

(389, 4)
(492, 6)

In [32]:
request.head()

,Request UUID,Current Unit Price,Target Unit Price,Supply Priority
0,820412eb-8d4d-4d6c-a5e3-cfc977cd6d48,£3.50,£3.00,Price
1,08f1a913-1318-4656-9418-ce580a9871cb,£0.01,£0.01,Price
2,8cd6fd33-a1bc-43cb-9c63-df7d629d5362,£0.01,£0.01,Price
3,9388fbf6-410b-4f85-999a-1ff4d4cb733b,£0.01,£0.01,Price
4,37d05dfe-7f47-4eed-8e78-9f74c303bcad,£0.01,£0.01,Price

In [33]:
quotes.head()

,Request UUID,Quote Unit Price,Status,Decline Reason,Samples Available,Documents Provided
0,94ba38d1-57ed-4a60-92d1-47b55a40a6dd,£5.10,Available,NaN,NaN,NaN
1,820412eb-8d4d-4d6c-a5e3-cfc977cd6d48,£3.50,Available,NaN,Yes,NaN
2,08f1a913-1318-4656-9418-ce580a9871cb,"£1,768.89",Available,NaN,Yes,Yes
3,4dedeeb1-12a5-4589-82ee-015e46d85790,£4.65,Declined,pricing: Too high,NaN,NaN
4,820412eb-8d4d-4d6c-a5e3-cfc977cd6d48,£13.00,Available,NaN,NaN,NaN

In [34]:
request.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Request UUID        389 non-null    object
 1   Current Unit Price  389 non-null    object
 2   Target Unit Price   389 non-null    object
 3   Supply Priority     287 non-null    object
dtypes: object(4)
memory usage: 12.3+ KB

In [35]:
quotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Request UUID        492 non-null    object
 1   Quote Unit Price    492 non-null    object
 2   Status              492 non-null    object
 3   Decline Reason      58 non-null     object
 4   Samples Available   275 non-null    object
 5   Documents Provided  279 non-null    object
dtypes: object(6)
memory usage: 23.2+ KB

* Identified unique values for each column.

In [ ]:
# Quotes
for col in quotes.columns:
  unique_value = quotes[col].unique()
  print(f"> : {col} ==> : {unique_value}")

  value_counts = quotes[col].value_counts(normalize= True).round(2) * 100
  value_counts_with_percent = value_counts.map("{:.2f} %".format)

  print(value_counts_with_percent)
  print(f'- {quotes[col].dtypes} -')
  print('---------------------------')

* 50 % of Decline Reason is : pricing 
  * to do : group the 'pricing:' and 'pricing' lines and analyze why ?

In [ ]:
# Requests
for col in request.columns:
  unique_value = request[col].unique()
  print(f"> : {col} ==> : {unique_value}")

  value_counts = request[col].value_counts(normalize= True).round(2) * 100
  value_counts_with_percent = value_counts.map("{:.2f} %".format)

  print(value_counts_with_percent)
  print(f'- {request[col].dtypes} -')
  print('---------------------------')

# Quotes :

## Cleaning :

In [38]:
quotes["Status"].value_counts()

Status
Expired             290
Available           124
Ordered              58
Declined             17
Contract Created      1
pending_payment       1
Proceeded             1
Name: count, dtype: int64

* replace nan by 'no' on column "Samples Available" and "Documents Provided"

In [39]:
quotes["Documents Provided"] = quotes["Documents Provided"].fillna('No')

In [40]:
quotes["Documents Provided"].isna().sum()

0

In [41]:
quotes["Samples Available"] = quotes["Samples Available"].fillna('No')

In [42]:
quotes["Samples Available"].isna().sum()

0

In [ ]:
# Quotes
for col in quotes.columns:
  unique_value = quotes[col].unique()
  print(f"> : {col} ==> : {unique_value}")

  value_counts = quotes[col].value_counts(normalize= True).round(2) * 100
  value_counts_with_percent = value_counts.map("{:.2f} %".format)

  print(value_counts_with_percent)
  print(f'- {quotes[col].dtypes} -')
  print('---------------------------')

* creation of new column **'decline reason new'** with 3 labels :
  * not specified : for all values nan
  * pricing : for all row of the reason mentionned pricing (I suppose that as soon as pricing is indicated, it means that the price is too high)
  * others : for other reason

In [61]:
# NaN by "not specified"
quotes["Decline Reason New"] = np.where(quotes['Decline Reason'].isna(), 'not specified', quotes["Decline Reason"])

# "pricing" 
quotes["Decline Reason New"] = np.where(quotes['Decline Reason New'].str.contains('pricing', case=False), 'pricing', quotes["Decline Reason New"])

# "others"
quotes["Decline Reason New"] = np.where((quotes["Decline Reason New"] != 'not specified') & (~quotes["Decline Reason New"].str.contains('pricing', case=False)), 'other', quotes["Decline Reason New"])

* in : Decline Reason New : 
  * not specified    88.00 %
  * pricing          10.00 %
  * other             2.00 %

In [65]:
# Quotes
for col in quotes.columns:
  unique_value = quotes[col].unique()
  print(f"> : {col} ==> : {unique_value}")

  value_counts = quotes[col].value_counts(normalize= True).round(2) * 100
  value_counts_with_percent = value_counts.map("{:.2f} %".format)

  print(value_counts_with_percent)
  print(f'- {quotes[col].dtypes} -')
  print('---------------------------')

> : Request UUID ==> : ['94ba38d1-57ed-4a60-92d1-47b55a40a6dd'
 '820412eb-8d4d-4d6c-a5e3-cfc977cd6d48'
 '08f1a913-1318-4656-9418-ce580a9871cb'
 '4dedeeb1-12a5-4589-82ee-015e46d85790'
 '37d05dfe-7f47-4eed-8e78-9f74c303bcad'
 '50ef47ee-1cb8-44bf-9444-2c057fdc72ca'
 '4963b6de-4d98-4f0d-8ee5-47d2a227279b'
 '164cd9f1-fef3-41f5-89b6-14f3ca3acdf5'
 '8d378ea3-c746-4816-8856-905dff39bb8a'
 '60d19385-41bd-4b71-96e4-e6c2a93040ea'
 '4e98d968-c92f-4b55-af32-1f9d41ef7260'
 '57878c43-4147-4260-b99e-54105f29e860'
 'fca03c4f-3f16-40d0-b87c-16d9343e4a52'
 'd596642b-c417-49e6-aa3b-ec6185fb2b9f'
 'dd82336a-4eff-4b2e-af80-ec2825b7bd33'
 'a1ef94d7-7a8c-4c3d-b60f-a40e93401198'
 '531a47f6-3862-40e4-985a-46743751cce0'
 '39c19049-87c7-44b9-b5aa-3b6bac20d7d4'
 'd9564a3f-ea2c-472a-8d8c-8362b4b1c411'
 '4d7c0088-27eb-43a0-b88d-2c199568d656'
 '8b0aa667-04d0-481d-8d49-5a7c71e41163'
 '17666e5e-933d-4cf0-9017-47b351784d57'
 '15a80e87-9e27-4f3e-abb6-dff075964505'
 'cc66f476-9f26-426c-9216-0150c87f8c78'
 'e42a5914-1b6e-4465-9c28-b081f9a05e27'
 '52fc0262-ed22-40f7-b983-a8df4c6d7a0d'
 '1c0a5675-bc9e-4a4f-8e1f-eb1f673e0038'
 '93d399d2-0b4c-4dc1-a4d6-7e84e7fb1ee7'
 'aeffa5a7-193b-4f1a-8f68-944de8306cf9'
 'a5e8415b-3519-4f95-9745-7415d007b1fb'
 '60e327a1-e148-4f88-bf9b-f3525c578d59'
 'f83be172-6912-45af-9048-987aef354316'
 'ad423960-dcd9-418e-9f38-19999e9530ec'
 'b9701840-f486-4e5a-989e-bfaf42c0ca65'
 'fbc694e3-9dd3-47c0-9f21-ebdf30123c87'
 'cb038d53-c959-463e-b2fe-3d64154b4d6a'
 'de9fea0e-d82f-4bb6-9953-7c4ea82b0b20'
 '739b0b10-d82d-4dd9-b1c0-8e81491bb749'
 'c13f1780-dd15-47b7-b3fe-5ba056f25c26'
 '29868c82-9389-437e-82a6-d1046d4d800d'
 'a12b7050-9288-4efc-aa22-ca0ca8e2d94a'
 '9cf11f62-7b1e-4a7f-9c40-c12ad721a72b'
 '3c583881-a99d-42ca-a81b-648bc6884976'
 '2473d2dc-0a5c-4a61-a73d-3050faf0f7a0'
 '2d77a5f6-72f9-4f80-833e-2c746739000f'
 'ccbedbf7-def1-4e55-a97f-8535ab796960'
 '26137052-6469-47ef-9ac2-a0fd353acdaf'
 '141aeffb-21ce-418f-a9ab-76127b793f31'
 '335e4424-c1f5-49ac-8e84-ac580076a926'
 '614a0fa6-1e4e-4384-ae82-a639edf26f15'
 '9222ac19-26f5-4720-9e22-16f23719bbb6'
 'c1bd88b5-6b72-4dd9-9943-f69649805cd4'
 '4754675a-455e-48bc-8e78-9a6ce7731e6e'
 'e2df726c-e0d2-4543-9b8e-e17a0e0a6475'
 '440703b0-596a-4ea1-82b1-8ae0a2c4fc24'
 'e22e5345-30e6-4ea8-824e-eceec5ff119f'
 'ecffa75d-8be3-4574-bb19-dec66fe8d758'
 '3e8573ef-da7d-4768-9872-cc91b01f1d6c'
 'ff9f3177-c577-45ac-bbca-1cbcb1558500'
 '15cf7139-ed13-45fa-b755-ea230177dd37'
 '80651b6e-b283-4706-9252-8b9a6d6a45e8'
 '43d59c22-d2d1-4295-8a9e-b3f78c34cdf5'
 '8087c135-d9d7-4f44-b53f-2957a317d342'
 '0e3a5cf8-6242-4842-af9b-83718a40632c'
 '49a62576-4031-4248-9429-acecfee9e963'
 '5fd5ea2b-21d4-47f0-9edc-a3147ed0c544'
 '8342c9fa-1c8f-4e05-bf75-b3303c3910ac'
 '49ce21ea-4c19-4631-8495-e2e654aab896'
 '69ab183c-efbc-44c3-a9df-ebd758f14137'
 '402caae0-e1ea-453e-bf2f-a6a426827b20'
 '512fa0d7-13a0-4ba7-b3d0-dfe53b97759e'
 '974536d6-fad7-4d69-805e-72eb287f1691'
 'fc24a58c-9cac-43a0-a198-136e8a89e2ba'
 '6ad03418-7979-4bee-a565-cdd492518c34'
 'c5db9117-0cf1-474c-839e-52da40643238'
 '9efb20f5-0cb9-462c-b696-52d1897681c1'
 '5c065d56-2463-4885-bdf0-9060ddc8af30'
 '719bf28d-9b8f-4f62-bab4-6a6dc0125770'
 'c0776168-cc90-46ec-9df9-299e4d3edac8'
 '8fe4a0ae-6c32-476c-95a5-9b39ff4c3d70'
 '96bc9a0c-6e89-4a06-9598-ddb95147d427'
 '26dbea72-f57b-4282-a3af-b03535b68b04'
 '08b216c4-018f-4d86-a7ed-7b90541efed8'
 '4ec57884-d2bf-407f-802a-488763fae7d3'
 'fe3f99c0-ba66-46b2-96bf-897e7b787404'
 'd8580f81-ba44-492c-9836-3ec968657984'
 'af3c133e-d52f-4723-98d6-f20755f6316d'
 '498c6a7c-a18b-496c-a599-f680093998df'
 'cb1c1bbc-4202-4add-afa9-280134f90359'
 'e3042531-96d1-4663-a1d1-7fcd26ea7fc6'
 'c7eff9d2-3afe-4fc5-b973-17f600a21727'
 '949f8ecf-d8e8-4122-9558-cbc6a8847aba'
 'eea3a233-1bed-4407-8178-c9585583b709'
 '84f79c03-3cfc-4588-b5c8-f920b1399311'
 '50b38988-5f65-4d28-a623-9cb3560d1714'
 'e0b2cd6b-caab-45bd-9807-a9b4b68300cc'
 '2ec4bab8-d774-4b74-a29a-3ce0db0250b3'
 'af3bcc02-9542-424d-b61e-b356600a3fdd'
 '539fa824-0507-4809-ad55-72b69104d84e'
 '11d46e94-8a6e-4085-b209-852bd4a5415c'
 'ecf9c5f5-5f97-489c-a977-2a4ed0c27014'
 '8b03b8f3-b5b4-42b6-86d3-09ddb6e64f83'
 'e0a0633c-6dae-4840-acc6-d0d491a437b2'
 '8e24415e-0e99-4312-89df-1a549ac60892'
 '8e24e2a6-d8b2-447f-9490-378035b7477e'
 'cf681319-06b4-43d8-b68b-fdd27a5e4a82'
 '355a49d3-00a9-4db0-ba57-e7c848b60dc6'
 '86bf4f69-f7a7-4835-95e8-b796a64d7273'
 '634f75c2-3121-4bd3-bc8e-ec85ce755034'
 '4f358d38-39d9-4d90-a67e-db8b798ef162'
 'b607c568-5bcf-4c0e-add8-d4b33558c716'
 '1abdb362-d404-4715-9d94-6bcb898847e1'
 'b49bfaea-f0e6-415e-a255-3be5f5720ce1'
 'f2f0582a-3499-46e7-9a78-9a176343ae84'
 '9c1dadc4-a31f-4b2e-9210-055463a8dade'
 '948a71e4-5ecf-4d98-bed5-2841ae1a9124'
 'b1869a6b-dcd4-4769-b34f-73e56cf4c8c5'
 'bf0b207d-3ff2-4a9f-ba21-a79936360a16'
 '561c7ed4-bc57-4b6b-89df-58c7ea2a03a4'
 'f98f3833-3363-469b-a575-dc66d6156826'
 'c4cf044f-1b36-423e-b7a2-654fad7223a2'
 'd22a6095-3445-498d-bfaa-c855f2a6f083'
 'ad4e8c90-4e20-4f04-9925-5fa6414ca765'
 'd70107e8-b285-4730-99d3-5de428ea6895'
 'ec55e03e-42a7-486c-9291-b16b51b8134f'
 'e6f032a7-d5af-4b81-8dc4-b91213eca9f3'
 'ee3aed01-2963-49f6-8e1f-49d84748e50b'
 'e3c25748-c18c-4d5a-ac50-95f6d2e52448'
 'db86c256-aa37-4449-8750-57c0b7928d22'
 '2e3c7299-4212-42b7-8fbd-ac3d666c337c'
 '083e1055-bf51-4104-96b5-2c116592d0ac'
 '58014e34-3946-4d12-a7b4-471e95064d70'
 '817f4b38-5aed-458e-9c4c-0d074c9cc7a6'
 '36862df1-12d3-41ac-b41e-4ea18331d0ae'
 'a0d0d1f1-1bb2-4204-8255-a82b18129677'
 '64466127-7cdc-4894-b573-72281e386122'
 '8fc8957d-4435-449b-a769-56a36061330c'
 '7c9a1581-8ba2-4ddf-8f90-76a2bf833048'
 '38fd426c-3851-40ca-aca9-6e55a1c2be56'
 'af7365ca-d7db-4e2d-aada-8e4a456177d8'
 '797b4732-83a5-4b83-a954-e039fd29b7eb'
 '10f36d9e-3551-4968-afe6-2c88271d31e7'
 'c817009c-66de-4ae0-85a1-9957327ea71d'
 '6ab1b280-11f8-41da-b85a-c2381a5a944e'
 '08b10157-5e50-4bf8-a641-c4f90ace60cf'
 '59bc7a13-e8a5-4041-958f-87bb5ade24e0'
 'afd6f2c2-7d47-4ea2-885f-a1e35ccf2267'
 'a0713343-8638-4b6b-a5ba-bcc2bf5ecd89'
 '6eb74f65-61e1-4bb8-8641-dc1889f0ed4b'
 'b2340ce9-ecbd-4cb1-aac8-12b5f995b6ca'
 '49e8c612-30db-49f2-a23b-b14e0e4a9054'
 '46bbd00f-e573-4209-9877-38e1eff980d1'
 'c2cca233-872c-499a-b801-2d388ec6fe61'
 '50bc5b6c-537e-4db9-aa86-c94c85a639fb'
 '32e484e3-0df5-4530-9288-a1401a2bf777'
 '83c57620-4e26-4bad-a81b-1fc0ffcbcc01'
 'ef4cafba-0e6f-4b54-b7d8-ea12fc4ac7cf'
 '2fe7180c-55d6-4d8c-8197-c4c610f1bf2c'
 '79bde329-0d8a-4f3d-b2b6-990262a6ec39'
 '04664cba-2db8-47a2-8b38-16cb2fcd294b'
 'd35a6bce-2c71-4d78-b38d-46a278dc35ff'
 '8543382d-8886-4882-8488-3731f75f4ab3'
 '2e91f4a9-b4b8-4fdd-ab4b-da39d280c788'
 '89478ffe-8386-4653-833d-917dbb18f9ef'
 'd3bbc9ad-bd7e-4848-9b51-cae5a04b00ba'
 'f66516fb-3381-4cf9-84d8-c2eef794666b'
 '3cb2d8e5-f31a-490b-bcca-f910aed29f16'
 '939eae46-835d-40ff-8e5a-1a3ec7c25fee'
 '3be76df3-d44b-4513-af7c-50f436857831'
 '712ae658-4cf3-486e-9236-1daf7bf8d913'
 '3647b929-b97a-4471-82f5-b5edd61ee57d'
 'ed0aacd5-a3c6-4149-96f6-100a1280ad66'
 'd641b75c-a427-4772-8924-91e3d3a3f19d'
 '6034176e-b73e-4990-82fc-fcae53bfda4b'
 '6e3bd450-c9f9-427c-89d1-fc70449d37de'
 '67806b93-f10f-41f3-9a34-56e679fd9a82'
 'e42b279a-5d64-43f2-ba97-e8c47957da70'
 '64b16410-bf7d-46ec-b95d-fe180f1889e4'
 'f55e5323-b30d-4000-ad79-cc0f7626bed9'
 'dc838735-4b30-4333-ba29-f10196deb235'
 '40584236-a798-49da-9161-7ad2840710b6'
 '41adf72c-6000-4f8e-ab5d-5f14f08a3a65'
 'bcb8c5ab-900c-416a-8fbb-068d06abf307'
 '966a15db-8148-4e55-ba0f-fea91e79da66'
 '906ac17f-83b2-4e4c-8467-45cb8e8994fd'
 '0a8e05f2-ae2d-410a-9017-57ce2795726f'
 'e3661a9a-f819-4491-8cb1-71bc6ab403fd'
 'e019d55c-60ef-46fd-9807-d308b4f0b743'
 'ddd0225d-7110-46d5-83af-2d98c1084e7e'
 'c5bae2e0-d1a1-4bfd-8235-8484bbea9e97'
 '08fc77a8-b8f0-4050-ac19-d1b92166c09a'
 '7cb8ce39-b102-4bcc-be2e-f39aec3c0dcd'
 'ee249f2b-7415-42b9-a4e7-84653e597209'
 'e312ccc0-2c00-493a-9f9b-bfd1ab7e5f73'
 '5e2c9a05-cc90-4323-8f9f-4e7ec45f0874'
 '96d42297-df82-4734-b33e-96efccd41c1b'
 '6f39a515-609d-4a45-a77a-9e233cffb2aa'
 '9c82912c-da94-4693-875e-ed271496f1ed'
 '7c669dc9-340f-4d05-be1b-c2fa41786647'
 'bebbe1eb-078d-45b7-88a4-13dcb8a7792a'
 '49227f09-ce4d-4baf-b8d7-9473b53e239d'
 '02cf6d34-6274-473f-9b8f-a5455d6d4500'
 'b45ccf1c-4e50-4dfc-8741-e74405d5f0d0'
 '41f5df36-a8ba-475f-bcc5-16e105b3cc11'
 '07106bdb-2bb5-4269-bdaa-2faca9dfaa61'
 '1d509afa-c722-4064-8910-bf55ef08d5f0'
 '17d4c823-d165-4075-9d76-34f7dbd14b2b'
 '8156094a-a4f0-4557-856e-e9abd43ae6a5'
 'e144be5f-6fb9-4d9e-bb7c-6466d75d55e9'
 '8c32eba1-c10a-4895-b759-66043992432c'
 '151e9c99-6a7f-42ae-b4e9-3c15599f918e'
 'b9d3e165-a635-42de-8199-15a84f9b05d8'
 '6babfaee-7c59-4ff1-8bb5-f4473ec837f0'
 '4ab4526f-2e43-4936-9c97-a3def237356b'
 'a3a2976a-c60f-4630-a202-4892ecf74b40'
 '1614c7f6-64cf-4691-b11b-449c68633f52'
 '6a833e2e-8419-41b0-846d-e7bf107f12f4'
 '3ad14126-782c-41f6-8f07-6d4751691994'
 '3dfdf450-b651-4dba-b424-75ba6db13e52'
 'e22f9d6e-adb3-439a-846b-12bb60ba5bd2'
 '5f5443c2-7421-4fa2-9f63-8eb484f91b09'
 '7272a5aa-c633-4488-9a87-e1b151562739'
 'e9507302-5a31-4899-a434-4c9f16428e55'
 'cb04a62f-6b51-4859-9f4a-559774a3b5c7'
 '31cd59e5-97fb-4bb4-aa00-444c56dfd452'
 '41db3127-d13c-421a-b6a9-a33dc1333108'
 'f426764f-8c18-4cac-bb96-4decdf21c678'
 '957b9aeb-1107-4fcc-8b34-aff02b4bf9a7'
 '756012da-92d2-4b53-9ac5-801bd1a18025'
 'b343e7bb-8d0b-456e-b904-671ef9b35e08'
 '974008dd-7c62-4e8a-866f-d49961300948'
 '47331a6a-d647-4466-b141-93748cdada4e']
Request UUID
4963b6de-4d98-4f0d-8ee5-47d2a227279b    2.00 %
4dedeeb1-12a5-4589-82ee-015e46d85790    1.00 %
94ba38d1-57ed-4a60-92d1-47b55a40a6dd    1.00 %
49a62576-4031-4248-9429-acecfee9e963    1.00 %
0e3a5cf8-6242-4842-af9b-83718a40632c    1.00 %
                                         ...
31cd59e5-97fb-4bb4-aa00-444c56dfd452    0.00 %
41db3127-d13c-421a-b6a9-a33dc1333108    0.00 %
1614c7f6-64cf-4691-b11b-449c68633f52    0.00 %
4ab4526f-2e43-4936-9c97-a3def237356b    0.00 %
cb038d53-c959-463e-b2fe-3d64154b4d6a    0.00 %
Name: proportion, Length: 232, dtype: object
- object -
---------------------------
> : Quote Unit Price ==> : ['£5.10' '£3.50' '£1,768.89' '£4.65' '£13.00' '£3.88' '£2.97' '£0.88'
 '£3.20' '£3.51' '£1.70' '£2.86' '£2.95' '£3.90' '£2.77' '£1.99' '£8.50'
 '£3,800.00' '£5.00' '£5.80' '£4.46' '£3.34' '£3.55' '£3.29' '£4.35'
 '£3.12' '£6.69' '£1.26' '£11.00' '£0.58' '£5.70' '£5.65' '£11.25'
 '£35.00' '£23.80' '£3.04' '£13.16' '£44.33' '£1.04' '£2.05' '£2.85'
 '£4,650.00' '£4,200.00' '£1.35' '£90.00' '£9.50' '£11.50' '£77.00'
 '£1.30' '£12.00' '£9.63' '£2.45' '£1.24' '£1.02' '£2.38' '£5.58' '£40.00'
 '£12.25' '£20.00' '£4.12' '£7.20' '£2.00' '£3.32' '£2.66' '£7.22'
 '£10.25' '£8.70' '£10.50' '£4.16' '£13.80' '£10.00' '£15.00' '£9.40'
 '£7.12' '£1.66' '£1.58' '£1.05' '£6.70' '£2.50' '£3.77' '£1.50' '£15.85'
 '£1.60' '£7.26' '£6.80' '£0.94' '£16.63' '£33.60' '£52.50' '£3.42'
 '£8.06' '£2.55' '£10.45' '£4.86' '£4.05' '£1.62' '£3.65' '£5.25' '£3.10'
 '£34.30' '£14.90' '£11.35' '£78.46' '£56.56' '£4.91' '£4.10' '£1.32'
 '£2.25' '£21.00' '£1.98' '£85.00' '£3.13' '£4.97' '£8.52' '£5.28'
 '£11.80' '£99.04' '£3.80' '£2.92' '£5.89' '£1.10' '£4.95' '£3.60'
 '£15.56' '£8.40' '£55.95' '£5.90' '£7.19' '£2.76' '£12.35' '£11.75'
 '£4.80' '£18.00' '£23.95' '£5.20' '£1.43' '£10.96' '£8.07' '£4.06'
 '£8.00' '£5.66' '£5.85' '£43.35' '£1.59' '£7.17' '£2.65' '£14.00' '£2.80'
 '£5.81' '£1.75' '£6.35' '£65.00' '£1.65' '£6.50' '£4.40' '£7.11' '£2.78'
 '£7.35' '£3.15' '£3.25' '£7.15' '£1.95' '£1.78' '£26.00' '£100.99'
 '£91.52' '£18.09' '£11.73' '£2.26' '£4.88' '£2.20' '£1.53' '£7.50'
 '£6.60' '£6.15' '£9.46' '£5.50' '£4.90' '£2.47' '£4.71' '£2.71' '£5.79'
 '£4.00' '£4.20' '£0.35' '£0.11' '£1.84' '£7.57' '£8.95' '£45.00' '£1.46'
 '£1.94' '£9.73' '£25.07' '£13.53' '£28.80' '£12.75' '£22.00' '£0.09'
 '£26.30' '£19.46' '£13.73' '£33.00' '£22.25' '£14.95' '£11.65' '£35.95'
 '£17.00' '£15.50' '£26.50' '£8.60' '£4.50' '£19.50' '£10.75' '£3.93'
 '£31.00' '£5.96' '£27.20' '£50.00' '£48.00' '£0.97' '£85.21' '£1.37'
 '£17.95' '£32.60' '£9.24' '£6.26' '£7.63' '£7.36' '£8.42' '£3.58' '£4.75'
 '£5.97' '£1.68' '£13.83' '£2.29' '£1.40' '£6.00' '£0.99' '£1.31' '£19.95'
 '£8.15' '£5.15' '£16.50' '£2.46' '£5.62' '£5.40' '£1.21' '£2.35' '£3.75'
 '£4.45' '£1.45' '£1.80' '£38.40' '£2.37' '£3.78' '£2.83' '£1.47' '£4.39'
 '£6.39' '£1.25' '£8.10' '£6.55' '£4.25' '£22.50' '£36.80' '£23.00'
 '£7.25' '£1.36' '£44.00' '£53.50' '£6.45' '£38.00' '£18.50' '£12.50'
 '£168.11' '£14.69' '£56.34' '£26.55' '£60.00' '£126.00' '£75.00' '£68.50'
 '£3.30' '£0.98' '£6.10' '£3.83' '£5.30' '£12.60' '£12.20' '£875.00'
 '£10.44' '£3.91' '£10.39' '£6.27' '£3.00' '£14.11' '£7.70' '£3.76'
 '£142.24' '£1.44' '£0.93' '£0.95' '£6.95' '£821.00' '£1,230.00' '£780.00'
 '£0.78' '£2.06' '£6.14' '£3.70' '£395.00' '£36.00' '£16.25' '£5.04'
 '£2.19' '£49.09' '£8.79' '£66.00' '£66.53' '£13.66' '£9.00' '£141.63'
 '£4.41' '£10.27' '£110.00' '£130.00' '£4.60' '£349.95' '£3.82' '£26.79'
 '£36.95' '£289.00' '£20.35' '£21.45' '£25.30' '£39.00' '£11.90' '£18.70'
 '£20.90' '£13.20' '£17.05' '£19.00' '£22.62' '£27.50' '£24.00' '£151.99'
 '£19.98' '£2.98' '£4,399.95' '£10.63' '£24.43' '£4.84' '£3.08' '£5.45'
 '£0.02' '£10.24' '£1.23' '£3.16' '£0.85' '£0.80' '£8.76' '£1.54' '£9.95']
Quote Unit Price
£2.50        1.00 %
£11.50       1.00 %
£5.80        1.00 %
£4.16        1.00 %
£8.00        1.00 %
              ...
£1.44        0.00 %
£0.93        0.00 %
£0.95        0.00 %
£821.00      0.00 %
£1,230.00    0.00 %
Name: proportion, Length: 364, dtype: object
- object -
---------------------------
> : Status ==> : ['Available' 'Declined' 'Expired' 'Ordered' 'Contract Created'
 'pending_payment' 'Proceeded']
Status
Expired             59.00 %
Available           25.00 %
Ordered             12.00 %
Declined             3.00 %
Contract Created     0.00 %
pending_payment      0.00 %
Proceeded            0.00 %
Name: proportion, dtype: object
- object -
---------------------------
> : Decline Reason ==> : [nan 'pricing: Too high' 'pricing'
 'pricing,sample_quality: Price not met and no samples available from batch.'
 'specification_not_met: Not Certified Organic.'
 'specification_not_met: Fibre content is too low'
 'other: contains sulphites.  My product is a free from category. The allergen risk is too high.'
 'specification_not_met: Seeking ginger pieces not ground'
 'specification_not_met,pricing' 'specification_not_met'
 'pricing: Our Current Price per Unit is 1.84'
 'pricing: Does not better what we are currently paying.'
 'pricing: Pricing is higher than the option i ended up with.'
 'other: must be 100% no added ingredients. Thank you for quoting'
 'pricing: we have better deal currently'
 "pricing: I'm getting castor at sub 80p a kg"
 'pricing: We get icing sugar via a local distributor with a 25kg MOQ at a marginally higher price.'
 'pricing: We have found much better option' 'pricing: way too expnesive'
 "pricing: it's too expensive"
 'pricing: Same product available via another distributor cheaper.'
 'pricing: too expensive' 'pricing: pricing and no sampled available'
 'pricing: Ridiculous price'
 'pricing,incorrect_quantities: Again only need 10kg and so too expensive.'
 "pricing: Almost triple what I've been quoted by others."
 'pricing: I can find it at half this price with a simple online search.'
 'incorrect_quantities: I only need 10kg not 100kg'
 'other: Same spec as what we are ordering today so no need to have a sample. Thanks'
 'pricing: Over double what we pay now.']
Decline Reason
pricing                                                                                              50.00 %
specification_not_met                                                                                 3.00 %
pricing: Too high                                                                                     2.00 %
specification_not_met: Not Certified Organic.                                                         2.00 %
pricing,sample_quality: Price not met and no samples available from batch.                            2.00 %
specification_not_met: Fibre content is too low                                                       2.00 %
other: contains sulphites.  My product is a free from category. The allergen risk is too high.        2.00 %
specification_not_met: Seeking ginger pieces not ground                                               2.00 %
specification_not_met,pricing                                                                         2.00 %
pricing: Our Current Price per Unit is 1.84                                                           2.00 %
pricing: Does not better what we are currently paying.                                                2.00 %
pricing: Pricing is higher than the option i ended up with.                                           2.00 %
other: must be 100% no added ingredients. Thank you for quoting                                       2.00 %
pricing: we have better deal currently                                                                2.00 %
pricing: I'm getting castor at sub 80p a kg                                                           2.00 %
pricing: We get icing sugar via a local distributor with a 25kg MOQ at a marginally higher price.     2.00 %
pricing: We have found much better option                                                             2.00 %
pricing: way too expnesive                                                                            2.00 %
pricing: it's too expensive                                                                           2.00 %
pricing: Same product available via another distributor cheaper.                                      2.00 %
pricing: too expensive                                                                                2.00 %
pricing: pricing and no sampled available                                                             2.00 %
pricing: Ridiculous price                                                                             2.00 %
pricing,incorrect_quantities: Again only need 10kg and so too expensive.                              2.00 %
pricing: Almost triple what I've been quoted by others.                                               2.00 %
pricing: I can find it at half this price with a simple online search.                                2.00 %
incorrect_quantities: I only need 10kg not 100kg                                                      2.00 %
other: Same spec as what we are ordering today so no need to have a sample. Thanks                    2.00 %
pricing: Over double what we pay now.                                                                 2.00 %
Name: proportion, dtype: object
- object -
---------------------------
> : Samples Available ==> : ['No' 'Yes']
Samples Available
Yes    56.00 %
No     44.00 %
Name: proportion, dtype: object
- object -
---------------------------
> : Documents Provided ==> : ['No' 'Yes']
Documents Provided
Yes    57.00 %
No     43.00 %
Name: proportion, dtype: object
- object -
---------------------------
> : Decline Reason New ==> : ['not specified' 'pricing' 'other']
Decline Reason New
not specified    88.00 %
pricing          10.00 %
other             2.00 %
Name: proportion, dtype: object
- object -
---------------------------

In [64]:
quotes.head()

,Request UUID,Quote Unit Price,Status,Decline Reason,Samples Available,Documents Provided,Decline Reason New
0,94ba38d1-57ed-4a60-92d1-47b55a40a6dd,£5.10,Available,NaN,No,No,not specified
1,820412eb-8d4d-4d6c-a5e3-cfc977cd6d48,£3.50,Available,NaN,Yes,No,not specified
2,08f1a913-1318-4656-9418-ce580a9871cb,"£1,768.89",Available,NaN,Yes,Yes,not specified
3,4dedeeb1-12a5-4589-82ee-015e46d85790,£4.65,Declined,pricing: Too high,No,No,pricing
4,820412eb-8d4d-4d6c-a5e3-cfc977cd6d48,£13.00,Available,NaN,No,No,not specified

## Analysis

In [43]:
# Filter the dataframe based on the value of "status" == Ordered

quotes_ordered = quotes[quotes['Status'] == 'Ordered']
print(quotes_ordered.shape)
quotes_ordered.head()

(58, 6)

,Request UUID,Quote Unit Price,Status,Decline Reason,Samples Available,Documents Provided
28,fca03c4f-3f16-40d0-b87c-16d9343e4a52,£4.65,Ordered,NaN,Yes,Yes
30,d596642b-c417-49e6-aa3b-ec6185fb2b9f,£0.58,Ordered,NaN,No,Yes
79,9cf11f62-7b1e-4a7f-9c40-c12ad721a72b,£1.66,Ordered,NaN,No,Yes
80,3c583881-a99d-42ca-a81b-648bc6884976,£1.58,Ordered,NaN,No,Yes
84,2473d2dc-0a5c-4a61-a73d-3050faf0f7a0,£3.77,Ordered,NaN,Yes,No

* 11.79% of quotes are Ordered

In [44]:
# column : Samples Available = Yes / No in (%)

(quotes_ordered['Samples Available']).value_counts(normalize= True) * 100

Samples Available
No     60.344828
Yes    39.655172
Name: proportion, dtype: float64

In [45]:
# column : Documents Provided = Yes / No in (%)

(quotes_ordered['Documents Provided']).value_counts(normalize= True) * 100

Documents Provided
Yes    63.793103
No     36.206897
Name: proportion, dtype: float64

In [46]:
# column : Samples Available and Documents Provided = "Yes" in the same time

len(quotes_ordered[(quotes_ordered['Samples Available'] == 'Yes') & (quotes_ordered['Documents Provided'] == 'Yes')])

19

* On accepted quotes, approximately:
 * 40% have Samples Available
 * 36% have Documents Provided
 * 33% have both Samples Available and Documents Provided

### Merge quotes_order with Request

* understanding why a quote is accepted based on the
 * Target Unit Price
 * Current Unit Price
 * Quote Unit Price

---

In [47]:
# inner merge

print(quotes_ordered.shape)
quotes_ordered_request = quotes_ordered.merge(right= request, on= 'Request UUID', how = 'inner')
print(quotes_order_request.shape)
quotes_ordered_request.head()

(58, 6)

NameError: name 'quotes_order_request' is not defined

In [ ]:
# delete £ on columns 'price'

quotes_ordered_request['Quote Unit Price'] = quotes_ordered_request['Quote Unit Price'].replace('£', '', regex=True)
quotes_ordered_request['Current Unit Price'] = quotes_ordered_request['Current Unit Price'].replace('£', '', regex=True)
quotes_ordered_request['Target Unit Price'] = quotes_ordered_request['Target Unit Price'].replace('£', '', regex=True)

In [ ]:
quotes_ordered_request.head()

,Request UUID,Quote Unit Price,Status,Decline Reason,Samples Available,Documents Provided,Current Unit Price,Target Unit Price,Supply Priority
0,fca03c4f-3f16-40d0-b87c-16d9343e4a52,4.65,Ordered,NaN,Yes,Yes,4.50,4.50,Price
1,d596642b-c417-49e6-aa3b-ec6185fb2b9f,0.58,Ordered,NaN,No,Yes,1.00,1.00,Price
2,9cf11f62-7b1e-4a7f-9c40-c12ad721a72b,1.66,Ordered,NaN,No,Yes,1.66,1.66,Price
3,3c583881-a99d-42ca-a81b-648bc6884976,1.58,Ordered,NaN,No,Yes,1.66,1.66,Price
4,2473d2dc-0a5c-4a61-a73d-3050faf0f7a0,3.77,Ordered,NaN,Yes,No,3.00,3.00,Price

In [ ]:
# convert columns 'price' to integer

columns_to_convert = ['Quote Unit Price', 'Current Unit Price', 'Target Unit Price']
quotes_ordered_request[columns_to_convert] = quotes_ordered_request[columns_to_convert].astype(float).round(2)

In [ ]:
quotes_ordered_request.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Request UUID        58 non-null     object
 1   Quote Unit Price    58 non-null     float64
 2   Status              58 non-null     object
 3   Decline Reason      0 non-null      object
 4   Samples Available   58 non-null     object
 5   Documents Provided  58 non-null     object
 6   Current Unit Price  58 non-null     float64
 7   Target Unit Price   58 non-null     float64
 8   Supply Priority     39 non-null     object
dtypes: float64(3), object(6)
memory usage: 4.5+ KB

In [ ]:
# delete rows with values = 0,01

quotes_ordered_request = quotes_ordered_request.loc[(quotes_ordered_request['Current Unit Price'] != 0.01) & (quotes_ordered_request['Target Unit Price'] != 0.01)]

* Addition of a column **'Price Difference (%)'** that calculates the percentage between the value requested by the buyer **Target Unit Price** and the price provided on the quote by the buyer **Quote Unit Price.**

In [ ]:
quotes_ordered_request['Price Difference (%)'] = ((quotes_ordered_request['Quote Unit Price'] - quotes_ordered_request['Target Unit Price']) / quotes_ordered_request['Target Unit Price']) * 100

<ipython-input-149-6c4dddc26466>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quotes_ordered_request['Price Difference (%)'] = ((quotes_ordered_request['Quote Unit Price'] - quotes_ordered_request['Target Unit Price']) / quotes_ordered_request['Target Unit Price']) * 100

In [ ]:
quotes_ordered_request.head()

,Request UUID,Quote Unit Price,Status,Decline Reason,Samples Available,Documents Provided,Current Unit Price,Target Unit Price,Supply Priority,Price Difference (%)
0,fca03c4f-3f16-40d0-b87c-16d9343e4a52,4.65,Ordered,NaN,Yes,Yes,4.50,4.50,Price,3.333333
1,d596642b-c417-49e6-aa3b-ec6185fb2b9f,0.58,Ordered,NaN,No,Yes,1.00,1.00,Price,-42.000000
2,9cf11f62-7b1e-4a7f-9c40-c12ad721a72b,1.66,Ordered,NaN,No,Yes,1.66,1.66,Price,0.000000
3,3c583881-a99d-42ca-a81b-648bc6884976,1.58,Ordered,NaN,No,Yes,1.66,1.66,Price,-4.819277
4,2473d2dc-0a5c-4a61-a73d-3050faf0f7a0,3.77,Ordered,NaN,Yes,No,3.00,3.00,Price,25.666667

* We could add 2 more columns for:
 * Price negotiated upwards.
 * Price negotiated downwards.

### Request

In [ ]:
request.head()

,Request UUID,Current Unit Price,Target Unit Price,Supply Priority
0,820412eb-8d4d-4d6c-a5e3-cfc977cd6d48,£3.50,£3.00,Price
1,08f1a913-1318-4656-9418-ce580a9871cb,£0.01,£0.01,Price
2,8cd6fd33-a1bc-43cb-9c63-df7d629d5362,£0.01,£0.01,Price
3,9388fbf6-410b-4f85-999a-1ff4d4cb733b,£0.01,£0.01,Price
4,37d05dfe-7f47-4eed-8e78-9f74c303bcad,£0.01,£0.01,Price

In [ ]:
# delete £
request['Current Unit Price'] = request['Current Unit Price'].replace('£', '', regex=True)
request['Target Unit Price'] = request['Target Unit Price'].replace('£', '', regex=True)

In [ ]:
# delete rows with values = 0,01

request = request.loc[(request['Current Unit Price'] != '0.01') & (request['Target Unit Price'] != '0.01')]

In [ ]:
request.shape

(354, 4)

In [ ]:
# convert columns 'price' to integer

request[columns_to_convert] = request[columns_to_convert].replace({',': ''}, regex=True).astype(float).round(2)

columns_to_convert = ['Current Unit Price', 'Target Unit Price']
request[columns_to_convert] = request[columns_to_convert].astype(float).round(2)

In [ ]:
request.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 0 to 388
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Request UUID        354 non-null    object
 1   Current Unit Price  354 non-null    float64
 2   Target Unit Price   354 non-null    float64
 3   Supply Priority     258 non-null    object
dtypes: float64(2), object(2)
memory usage: 13.8+ KB



---



* 29 dec : stop coding at 8:00. (2h)


---